/* Mobile devices */
@media screen and (max-width: 576px) {
    header{
        padding: 20px;
    }
    .logo{
        font-size: 2rem;
        margin-bottom: 10px;
    }
    .banner{
        margin-top: 70px;
    }
    .navBar{
        flex-direction: column;
    }
    .mainNav li{
        margin-left: 20px;
    }
    .mainNav li:first-child{
        margin-left: 0px;
    }




    /* teams section design */
    .teams-container{
        flex-direction: column-reverse; 
    }
    .teams-img-container{
        grid-template-columns: 1fr;
    }
    .teams-text-content{
        padding: 0 1rem;
        margin-bottom: 2rem;
    }
    


    /* Facts design */
    .facts{
        padding: 0 1rem;
    }
    .facts-card-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        margin-top: 50px;
    }
    .card-stats{
        font-size: 2rem;
    }
    .card-title{
        font-size: 1rem;
    }



    /* sponsor design */
    .sponsors{
        padding: 0 1rem;
    }
    .sponsor-container{
        flex-direction: column;
        margin-top: 50px;
    }
    .sponsor-title{
        font-size: 2rem;
    }
    .sponsor-description{
        color: #727272;
        line-height: 1.5rem;
    }
    .sponsor-container img{
        margin-bottom: 40px;
    }
    .sponsor-container img:last-child{
        margin-bottom: 0px;
    }
    main{
        margin: 0;
    }
}




/* tablet or medium devices */
@media screen and (min-width: 576px) and (max-width: 960px) {
    header{
        padding: 40px;
    }
    .navBar{
        flex-direction: column;
    }
    .mainNav li:first-child{
        margin-left: 0px;
    }




    /* Teams design */
    main{
        margin: 0 50px;
    }
    .teams-container{
        flex-direction: column-reverse; 
    }
    .teams-text-content{
        margin-bottom: 2rem;
    }



    /* Facts design */
    .facts{
        padding: 0 1rem;
    }
    .facts-card-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
        margin-top: 50px;
    }
    .card-stats{
        font-size: 2rem;
    }
    .card-title{
        font-size: 1rem;
    }



    /* sponsor design */
    .sponsor-container{
        flex-wrap: wrap;
        gap: 20px;
    }
}