/* Work sans font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Work Sans', sans-serif;
}
body{
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 230px;
}
section{
    margin-top: 100px;
}


/* Shared styles */
.btn-primary{
    width: 180px;
    height: 64px;
    color: white;
    border-radius: 8px;
    background: #FF900E;
    outline: none;
    border: 2px solid #FF900E;
    font-size: 1.1rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.5s ease;
}
.btn-primary:hover{
    color: black;
    background: transparent;
    transform: translateY(-5px);
}
main{
    max-width: 1140px;
    margin: 0 240px;
}


/* Nav Bar design */
.logo{
    font-size: 3rem;
    color: #131313;
    font-weight: 700;
}
.navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mainNav{
    display: flex;
}
.mainNav li{
    margin-left: 40px;
}
.mainNav li a{
    text-decoration: none;
    font-size: 1rem;
    color: #424242;
}




/* Banner design */
.banner{
    margin-top: 120px;
}
.banner-content{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 50px;
}
.banner-tilte{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}
.banner-description{
    font-size: 1rem;
    color: #727272;
    margin: 30px 0;
}
.banner img{
    width: 100%;
}




/* teams section design */
.teams-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}
.teams-img-container img{
    width: 300px;
}
.teams-text-content{
    padding: 0 4.3rem;
}
.teams-title{
    font-size: 2.8rem;
    font-weight: 500;
    color: #727272;
}
.teams-title span:first-child{
    color: black;
    font-weight: 700;
}
.teams-title span:last-child{
    color: #FF900E;
    font-weight: 700;
}
.teams-description{
    font-size: 1rem;
    color: #424242;
    margin: 24px 0 32px 0;
}







/* Facts section design */
.facts-title{
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
    margin-bottom: 1.5rem;
}
.facts-discription{
    font-size: 1rem;
    color: #727272;
}
.facts-card-container{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}
.facts-card-container .card{
    border-radius: 8px;
    border: 2px solid #FF900E;
    text-align: center;
    padding: 30px;
}
.card-stats{
    font-size: 2.8rem;
    font-weight: 600;
    color: #424242;
    margin: 10px 0;
}
.card-title{
    font-size: 1.25rem;
    font-weight: 600;
    color: #727272;
}